.signupScreen {
  display: flex;
  justify-content: center;
}
.signupScreen__input {
  position: absolute;
  top: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 50px;
  width: 18rem;
}

.signupScreen__input > h1 {
  text-align: left;
  width: 100%;
  font-size: 2rem;
  font-weight: 700;
  color: white;
  margin-bottom: 1rem;
}

.signupScreen__input > input {
  width: 100%;
  height: 2.2rem;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: none;
  outline: none;
  background-color: rgb(51, 51, 51);
  color: white;
}

::placeholder {
  color: rgb(140, 140, 140);
}

.signupScreen__input > button {
  cursor: pointer;
  color: white;
  background-color: #e50914;
  padding: 15px 17px 15px 17px;
  font-weight: 700;
  font-size: 1rem;
  border-radius: 4px;
  border: none;
  width: 100%;
  margin-top: 35px;
}

.signupScreen__input > h4 {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 400;
  color: rgb(115, 115, 115);
}

.signupScreen__input > h4 > a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
